
<div class="main-conteiner">
  <app-header></app-header>

  <h1>{{title}}</h1>
  
  <!--
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="w_p10">
            <mat-list role="list">
                <mat-list-item (click)="sidenav.toggle()">
                    <a href="/"><mat-icon>home</mat-icon></a>

                </mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
            <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
            <p>Events:</p>

            <div class="example-events">
              @for (e of events; track e) {
                <div>{{e}}</div>
              }
            </div>

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

-->
  
  <app-test></app-test>

    <app-footer></app-footer>

</div>








